@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<br />
<br />


<div class="jumbotron">
    <h1>Staj Project </h1>
    <p class="lead">Made by:<span style="color:black; font-weight:bold; font-size:2rem; margin-bottom:-1rem; margin-top:1rem;">Gazel Elaryani</span></p>
    <p class="lead">Project using ASP.NET Web Application(.NET Framework) </p>
</div>

